html, body{
    margin: 0;
    background-color: whitesmoke;
    scroll-behavior: smooth;
}


.first_div{
    background: url(../img/wide_mount-min.jpg) no-repeat center center fixed; 
    -webkit-background-size: 75% auto;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    background-size: 75% auto;

    height: 95vh;
    width: 100%;

    z-index: 2;

    position: relative;

    scroll-snap-align: start;

}

.first_div h1{
    color: rgb(199, 132, 45);
    font-family: 'Playfair Display', serif;
    letter-spacing: 10vw;

    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 128px;
    word-break: break-all;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    z-index: 3;


}

.first_div h1::selection{
    color: white;
    background-color: rgb(199, 132, 45);
}

.cv-div{
    height: 100vh;
    width: 100%;

}